<section id="about">
    
    <div class="upper">
        <div class="face-lookup"><img src="./assets/img/face.jpeg"/></div>
        <div class="icon1"></div>
        <div class="icon2"></div>
    </div>

    <p><strong>Enim sint do magna esse et tempor laboris Lorem dolor voluptate ea nulla culpa.</strong> Laborum sint exercitation amet proident ullamco est velit est eu non. Lorem nisi Lorem velit dolore dolor excepteur. Qui velit magna non magna eu commodo pariatur.</p>
    
</section>